<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Recipe</title>
    </head>
    <body>
        <form action="/recipes" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="recipe[name]" />
            </div>
            <div>
                <label for="instructions">Instructions</label>
                <input type="text" id="instructions" name="recipe[instructions]" />
            </div>
            <div>
                <label for="name">Cook Time</label>
                <input type="text" id="name" name="recipe[cookTime]" />
            </div>
            <div>
                <label for="name">Total Time</label>
                <input type="text" id="name" name="recipe[totalTime]" />
            </div>
            <div>
                <label for="name">Yields</label>
                <input type="text" id="name" name="recipe[yields]" />
            </div>
                <button>Add Recipe</button>
            </div>
        </form>
        <div>
            <a href="/recipes">Back to All Recipes</a>
        </div>
    </body>
</html>
