<% layout('layouts/boilerplate') %>
<h1><%= recipe.name %></h1>
<footer>
    <a href="/recipes/<%= recipe._id %>/edit">Edit recipe</a>
    <br />
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button>Delete Recipe</button>
    </form>
    <br />
    <a href="/recipes">All recipes</a>
</footer>
